@import "_variables";
@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap";
$bg-team-1 : #FFF;
$bg-team-2 : #ea182a;
$bg-team-3 : #02b1db;
$a1        : #ffcb1f;
$a2        : #80c342;
$a3        : #f15a22;
$black     : #1d1d1d;
$white     : #FFFFFF;


@font-face {
  font-family: 'SapientCentroSlab-Black';
  src: url('fonts/SapientCentroSlab-Black.otf');
}
@font-face {
  font-family: 'SapientCentroSlab-LightItalic';
  src: url('fonts/SapientCentroSlab-LightItalic.otf');
}
@font-face {
  font-family: 'SapientCentroSlab-Light';
  src: url('fonts/SapientCentroSlab-Light.otf');
}

@font-face {
  font-family: 'SapientCentroSlab-Medium';
  src: url('fonts/SapientCentroSlab-Medium.otf');
}

body {
	background-color : $black;
	color            : $white;
	font-family      : 'SapientCentroSlab-Light';
}
.container {
	margin-top: 40px;
}
.admin {
	color:$black;
	background-color : #FFF;
}

.dashboard-start {
	padding-top: 160px
}

.score {
	text-align:center;
	font-family      : 'SapientCentroSlab-Black';
	font-size:20px;
	// margin-top: -40px
}

.d-question {
	margin-top       : 40px;
	padding          : 30px 30px 25px;
	background-color : $white;
	color            : $black;
	font-size        : 32px;
	font-family      : 'SapientCentroSlab-Medium';
	line-height      : 32px;
}
.d-answer {
	padding     :20px;
	margin-top: 40px;
	color       : $black;
	text-align  :center;
	font-size   :44px;
	font-family :'SapientCentroSlab-Medium';
}
.bar-chart {
	margin-top: 100px;
}
.animated-picture {
	margin-bottom: 20px;
}
.btn-block  {
	padding-right : 10px;
	padding-left  : 10px;
	min-height    : 100px;
	white-space   : normal;
}
.btn {
	&.a1 {
		background-color: $a1;
	}
	&.a2 {
		background-color: $a2;
	}
	&.a3 {
		background-color: $a3;
	}
}

.bg-a1 {
	background-color: $a1;
}
.bg-a2 {
	background-color: $a2;
}
.bg-a3 {
	background-color: $a3;
	}

.vote {
	display: block;
	float:left;
	width:10%;
	height:30px;
}
.team-1 {
	background-color: $bg-team-1;
}	
.team-2 {
	background-color: $bg-team-2;
}	
.team-3 {
	background-color: $bg-team-3;
}
.team-color-1 {
	color: $bg-team-1;
}	
.team-color-2 {
	color: $bg-team-2;
}	
.team-color-3 {
	color: $bg-team-3;
}