@import "_variables";
@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap";
@import "compass/css3";
$bg-team-1 : #FFF;
$bg-team-2 : #ea182a;
$bg-team-3 : #02b1db;
$a1        : #ffcb1f;
$a2        : #80c342;
$a3        : #f15a22;
$black     : #1d1d1d;
$white     : #FFFFFF;


@font-face {
  font-family: 'SapientCentroSlab-Black';
  src: url('fonts/SapientCentroSlab-Black.otf');
}
@font-face {
  font-family: 'SapientCentroSlab-LightItalic';
  src: url('fonts/SapientCentroSlab-LightItalic.otf');
}
@font-face {
  font-family: 'SapientCentroSlab-Light';
  src: url('fonts/SapientCentroSlab-Light.otf');
}

@font-face {
  font-family: 'SapientCentroSlab-Medium';
  src: url('fonts/SapientCentroSlab-Medium.otf');
}

@font-face {
  font-family: 'SapientSansBold';
  src: url('fonts/SPNTSB.TTF');
}

@font-face {
  font-family: 'SapientSansBlack';
  src: url('fonts/SPNTSK.TTF');
}

@mixin custom-btn ($color, $background) {
	@include gradient-vertical($start-color : $background, $end-color: darken($background,15%), $start-percent: 0%, $end-percent: 100%);
	position                                :relative;
	border                                  : none;
	box-shadow                              : inset 0px 1px 0px lighten($background,15%), 0px 5px 0px 0px darken($background,35%), 0px 10px 5px #000;
	color                                   : $color;

	&:hover,
	&:focus,
	&:active,
	&.active {
	@include gradient-vertical($start-color : darken($background,15%), $end-color: $background, $start-percent: 100%, $end-percent: 0%);
		top                                     :3px;
		box-shadow                              : inset 0px 1px 0px lighten($background,15%), 0px 2px 0px 0px darken($background,35%), 0px 5px 3px #000;
		color                                   : $color;
	}

}


body {
	background-color : $black;
	color            : $white;
	font-family      : 'SapientCentroSlab-Light';
}
.container {
	margin-top: 40px;
}
.admin {
	color:$black;
	background-color : #FFF;
}
.login {

}
.hire-logo {
	margin-bottom: 80px;
}
.btn-search {
	margin-top       : 20px;
	// border           : none;
	// border-bottom    : 4px solid darken($bg-team-2,15%);
	// border-radius    : 0;
	// background-color : $bg-team-2;
	// color            : $white;
	padding          : 8px 40px;
	@include custom-btn ($white, $bg-team-2);
}
.waiting {
	color:darken($white,50%);
}
.dashboard-start {
	padding-top: 160px
}


.list-unstyled li {
	font-size   : 28px;
}
.d-question {
	margin-top       : 40px;
	padding          : 30px 30px 25px;
	background-color : $white;
	color            : $black;
	font-size        : 32px;
	font-family      : 'SapientCentroSlab-Medium';
	line-height      : 32px;
}
.d-answer {
	padding     :20px;
	margin-top: 40px;
	color       : $black;
	text-align  :center;
	font-size   :44px;
	font-family :'SapientCentroSlab-Medium';
}
.bar-chart {
	margin-top : 55px;
	& > div {
		height   : 380px;
		position : relative;
		overflow : hidden;
	}
	.bar {
		@include transition(all 0 cubic-bezier(0.15, 0.86, 0.22, 0.95));
		@include transform(scaleY(0));
		position : absolute;
		bottom   :0;
		width    : 100%;
		&.team-1,
		&.team-2,
		&.team-3 {
			@include transform(scaleY(1));
			@include transition-duration(1250ms);
		}
		&.team-2 { @include transition-delay(250ms);}
		&.team-3 { @include transition-delay(500ms);}

		.score {
			text-align:center;
			font-family      : 'SapientCentroSlab-Black';
			font-size:20px;
			margin-top: -40px;
			margin-right: 15px;
		}
	}
}
.animated-picture {
	margin-bottom: 20px;
}

.team-bar {
	margin-top    : -40px;
	margin-bottom : 20px;
	height        : 40px;
}
.btn-block  {
	margin-bottom : 20px;
	min-height    : 100px;
	white-space   : normal;
	font-size     : 20px;
}


.btn {
	&.a1 {
		@include custom-btn ($black, $a1);
	}
	&.a2 {
		@include custom-btn ($black, $a2);
	}
	&.a3 {
		@include custom-btn ($black, $a3);
	}
}

.bg-a1 {
	background-color: $a1;
}
.bg-a2 {
	background-color: $a2;
}
.bg-a3 {
	background-color: $a3;
	}

.vote {
	display: block;
	float:left;
	width:10%;
	height:30px;
}
.team-1 {
	background-color: $bg-team-1;
}	
.team-2 {
	background-color: $bg-team-2;
}	
.team-3 {
	background-color: $bg-team-3;
}
.team-color-1 {
	color: $bg-team-1;
}	
.team-color-2 {
	color: $bg-team-2;
}	
.team-color-3 {
	color: $bg-team-3;
}

.waiting-score {
	margin-top       : -60px;	
	padding          : 40px 0 20px 0;
	background-color : #00e295;
	text-align       : center;
	text-shadow      : 1px 1px 0px rgba(0, 0, 0, 0.8);
	.score-count {
		font-size   : 98px;
		line-height : 90px;
		font-family : 'SapientSansBlack';
	}
	span {
		font-size   : 44px;
		font-family : 'SapientCentroSlab-Light';
	}
}
.wait-message {
	margin-top       : 20px;
	padding          :20px 10px;
	background-color :$white;	
	color            :$black;
	text-align       :center;
	text-transform: uppercase;
	font-size        :20px;
	font-family      :'SapientSansBold';
}
// Animations
.cube-container {
  width: 164px;
  height: 164px;
  position: relative;
  @include perspective(800px);
}

.cube{
	@include transition(transform 0 cubic-bezier(0.15, 0.86, 0.22, 0.95));
	@include transition-duration(1000ms);
	@include transform-style (preserve-3d);
	@include transform( translateZ( -82px ));
	position        : absolute;
	width           : 100%;
	height          : 100%;

	& .face-1 { @include transform( rotateY(   0deg ) translateZ( 82px ) ); }
	& .face-2 { @include transform( rotateX( 180deg ) translateZ( 82px ) ); }
	& .face-3 { @include transform( rotateY(  90deg ) translateZ( 82px ) ); }
	& .face-4 { @include transform( rotateY( -90deg ) translateZ( 82px ) ); }
	& .face-5 { @include transform( rotateX(  90deg ) translateZ( 82px ) ); }
	& .face-6 { @include transform( rotateX( -90deg ) translateZ( 82px ) ); }

	&.set-face-1 { @include transform( translateZ( -82px ) rotateY(   0deg   ) ); }
	&.set-face-2 { @include transform( translateZ( -82px ) rotateX(  -180deg ) ); }
	&.set-face-3 { @include transform( translateZ( -82px ) rotateY(  -90deg  ) ); }
	&.set-face-4 { @include transform( translateZ( -82px ) rotateY(  90deg   ) ); }
	&.set-face-5 { @include transform( translateZ( -82px ) rotateX(  -90deg  ) ); }
	&.set-face-6 { @include transform( translateZ( -82px ) rotateX(  90deg   ) ); }

    // & .face-1 { background: hsla(   0, 100%, 50%, 0.7 ); }
    // & .face-2 { background: hsla(  60, 100%, 50%, 0.7 ); }
    // & .face-3 { background: hsla( 120, 100%, 50%, 0.7 ); }
    // & .face-4 { background: hsla( 180, 100%, 50%, 0.7 ); }
    // & .face-5 { background: hsla( 240, 100%, 50%, 0.7 ); }
    // & .face-6 { background: hsla( 300, 100%, 50%, 0.7 ); }


}

.cube figure {
	position : absolute;
	display  : block;
	width    : 164px;
	height   : 164px;
	      line-height: 164px;
      font-size: 120px;
      font-weight: bold;
      color: white;
      text-align: center;
	@include backface-visibility( hidden );
}



// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@include keyframes(zoomAnswer) {
  0% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(1.2));
  }
  100% {
    @include transform(scale(1));
  }
}

.correct-answer {
   @include animation(zoomAnswer 1.5s infinite);
   z-index: 100;
}
/* ==========================================================================
=ngAnimation Toggle Fade 
========================================================================== */

.toggle {
	@include transition(opacity 0 cubic-bezier(0.15, 0.86, 0.22, 0.95));
	&.ng-enter {
		@include transition(all 0 cubic-bezier(0.470, 0.000, 0.745, 0.715));
		@include translate3d(-5px,0,0);
		opacity: 0;
		@include transition-duration(250ms);
		@include transition-delay(150ms);
	}

	&.ng-enter-active {
		@include translate3d(0,0,0);

		opacity: 1;	
	}

	&.ng-leave {
		@include transition(all 0 cubic-bezier(0.390, 0.575, 0.565, 1.000));
		@include translate3d(0,0,0);
		opacity: 1;
		@include transition-duration(150ms);
	}

	&.ng-leave-active {
		@include translate3d(5px,0,0);
		opacity: 0;	
	}

	// Hide
	&.ng-hide-add {
		@include transition-duration(125ms);
		opacity:1;		
	}	
	&.ng-hide-add.ng-hide-add-active {
		opacity:0;
	}

	// Show
	&.ng-hide-remove {
		@include transition-duration(125ms);
		display:block!important;
		opacity:0;
	}
	&.ng-hide-remove.ng-hide-remove-active {
		opacity:1;
	}
}

/* ------------------------------------------- */
/* Scale Fade 
/* ------------------------------------------- */

.scale-fade {
	@include transition(all 0 cubic-bezier(0.15, 0.86, 0.22, 0.95));

	&.ng-enter {
		@include transform(scale(0.1));
		@include transition-duration(1250ms);
		opacity: 0;
	}

	&.ng-enter-active {
		@include transform(scale(1));
		opacity: 1;	
	}

	&.ng-leave {
		@include transform(scale(1));
		@include transition-duration(1250ms);
		opacity: 1;
	}

	&.ng-leave-active {
		@include transform(scale(0.1)); 
		opacity: 0;	
	}

	// Hide
	&.ng-hide-add {
		@include transform(scale(1));
		@include transition-duration(1250ms);
		opacity:1;		
	}	
	&.ng-hide-add.ng-hide-add-active {
		@include transform(scale(0.1)); 
		opacity:0;
	}

	// Show
	&.ng-hide-remove {
		@include transform(scale(0.1));
		@include transition-duration(1250ms);
		display:block!important;
		opacity:0;
	}
	&.ng-hide-remove.ng-hide-remove-active {
		@include transform(scale(1));
		opacity:1;
	}
}