<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>1,2 oder 3 -  the game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/vendor.css"/>
    <link rel="stylesheet" href="styles/b56e15e4.main.css"/>
  </head>
  <body ng-app="12oder3App" ng-cloak="">

    <div class="container toggle" ng-view="">

    </div>

    <script src="scripts/5b294b53.vendor.js"></script>

        <script src="scripts/bf32d477.scripts.js"></script>



<!-- Begin Templates -->
<script type="text/ng-template" id="views/admin-add-questions.html">
<h2>Add and vote questions <span class="pull-right" ng-class="{'text-danger': !remainingVotes}"> {{remainingVotes}} votes remaining</span></h2>
<form role="form">
<div class="panel panel-default" ng-repeat="q in questions |orderByPriority|orderBy:'votes':true">
  <div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
			    	<textarea id="question{{$index+1}}" name="question{{$index+1}}" class="form-control" rows="5" ng-model="q.question"></textarea>
			  	</div>
			</div>

		</div>
		<div class="row">
			<div class="col-xs-4"  ng-repeat="answer in ['a1','a2','a3'] track by $index">
				<div class="form-group">
			    	<label for="answer{{answer}}">Answer {{$index+1}}</label>
			    	<textarea id="answer{{answer}}" name="answer{{answer}}" class="form-control" rows="2" ng-model="q[answer]"></textarea>
			    	<div class="radio">
			          <label>
			            <input type="radio" name="correctAnswer{{q.$id}}" value="{{answer}}" ng-model="q.correctAnswer">
			            Correct
			          </label>
			        </div>
			  	</div>
			</div>

		</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label for="longAnswer{{$index+1}}">Long answer {{$index+1}}</label>
		    	<textarea id="longAnswer{{$index+1}}" name="longAnswer{{$index+1}}" class="form-control" rows="5" ng-model="q.longAnswer"></textarea>
		  	</div>
		</div>

	</div>
  </div>
  <div class="panel-footer">
	<span>
		<button href ng-click="upVote(q.$id)" ng-disabled="!remainingVotes" class="btn btn-default btn-lg">+ <i class="glyphicon glyphicon-thumbs-up"></i></button>
		<button href ng-click="downVote(q.$id)" ng-disabled="!remainingVotes" class="btn btn-default btn-lg">- <i class="glyphicon glyphicon-thumbs-down"></i></button>
		<span>{{q.votes}} votes {{q.$priority}}</span>
		<a href ng-click="delete(q.$id)" class="btn btn-default btn-lg pull-right"><i class="glyphicon glyphicon-trash"></i> Delete</a>
		<a href ng-click="save(q.$id,q)" class="btn btn-primary btn-lg pull-right"><i class="glyphicon glyphicon-save"></i>  Save Question</a>
	</span>
  </div>
</div>

  <button ng-click="addQuestion()" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-plus"></i> Add Question</button>
  <button ng-click="saveQuestions()" type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-save"></i>  Save all changes</button>
</form>

</script>

<script type="text/ng-template" id="views/admin-dashboard.html">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/admin">Admin Dashboard</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav pull-right">
                <li><a ng-href="#/">Home</a>
                </li>
                <li><a ng-href="#/dashboard">Dashboard</a>
                </li>
                <li><a ng-href="#/admin">Admin</a>
                </li>
                <li><a ng-href="#/admin-add-questions">Admin questions</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <button class="btn btn-lg btn-default" ng-click="waitMode()">Waiting Mode</button>
                <button class="btn btn-lg btn-default" ng-click="alocate()">Alocate to teams</button>
                <button class="btn btn-danger pull-right" ng-click="reset()">Reset</button>
                <button class="btn btn-danger pull-right" ng-click="fakeVoting()">FakeVoting</button>
                <button class="btn btn-danger pull-right" ng-click="fakeUsers()">FakeUsers</button>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="row">
	<div class="col-sm-12">
		<div class="progress progress-striped active">
		  <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{(timeOut-playTimer+1)*10}}%">
		  </div>
		</div>

	</div>
</div>
<hr>
<div class="row" ng-repeat="q in questions | orderByPriority" ng-hide="usedQuestion(q.$id)">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>{{q.question}}</h3>
            </div>
            <div class="panel-footer">
                <button class="btn btn-lg btn-default" ng-click="setQuestion(q.$id)">Load Question {{$index+1}}</button>
                <button class="btn btn-lg btn-default" ng-click="startTimer(q.$id)">Start Timer</button>
            </div>
        </div>
    </div>

</div>

</script>

<script type="text/ng-template" id="views/dashboard.html">
<div class="row">
    <div class="col-md-4 col-md-offset-1 dashboard-start">
        <img src="images/dashboard-start.png" class="img-responsive" alt="" />
    </div>
    <div class="col-md-1">&nbsp;</div>
    <div class="col-sm-2" ng-repeat="team in ['1','2','3']">
        <ul class="list-unstyled">
            <li ng-repeat="user in users | orderByPriority |filter:{'team':team}" class="user team-color-{{user.team}}">{{user.name}}</li>
        </ul>
    </div>
</div>

<div class="row">

</div>

<div class="row">
    <div class="col-md-6 col-md-offset-6">
        <div class="row">
            <div class="col-sm-4" ng-repeat="user in users | orderByPriority" ng-hide="user.team">
                    <span >{{user.name}}</span>
            </div>
        </div>
    </div>
</div>

</script>

<script type="text/ng-template" id="views/main.html">
<div class="row hire-logo">
    <div class="col-xs-6 col-xs-push-1">
        <img src="images/new-hire-logo.png" class="img-responsive" alt="">
    </div>
</div>
<div class="row" ng-show="currentUser.name">
    <div class="col-xs-10 col-xs-push-1">
    	<div class="waiting">
    		<h1>Hi <span class="team-color-{{currentUser.team}}">{{currentUser.name}}</span>, the game will start soon!</h1>
    	</div>
    </div>
</div>
<div class="row" ng-hide="currentUser.name">
    <div class="col-xs-10 col-xs-push-1">
        <div class="input-group">
            <form ng-submit="saveName(formName)">
                <input type="text" class="form-control input-lg" ng-model="formName" placeholder="Enter your name">
            </form>
        </div>
    </div>
</div>
<div class="row" ng-hide="currentUser.name">
    <div class="col-xs-6 col-xs-push-1">
        <button class="btn btn-search btn-lg btn-default" type="button" ng-click="saveName(formName)">Join the game</button>
    </div>
</div>
</script>

<script type="text/ng-template" id="views/play-dashboard.html">
<div class="row">
	<div class="col-md-2 col-md-offset-1">
		<img src="images/new-hire-logo.png" class="img-responsive" alt="">
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-push-2">
		<p class="d-question">{{currentQuestion.question}}</p>
		<div class="progress progress-striped active">
		  <div class="progress-bar progress-bar-danger "  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{(timeOut-playTimer+1)*10}}%">
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4" ng-repeat="answer in ['a1','a2','a3']" ng-class="{'correct-answer':(answer==currentQuestion.correctAnswer && revealAnswer==true)}">
		<p class="d-answer bg-{{answer}}">{{currentQuestion[answer]}}</p>
		<p class="d-votes">
			<span ng-repeat="vote in currentVotes | orderByPriority |filter:{'vote':answer}" class="vote scale-fade team-{{vote.team}}">&nbsp;</span> 
		</p>
	</div>
</div>
</script>

<script type="text/ng-template" id="views/play.html">

<div class="row team-bar"></div>
<div class="row" ng-show="playTimer>10" >
	<h2 class="col-sm-12">{{currentQuestion.question}}</h2>
</div>
<div class="row" ng-hide="playTimer>10" >
	<div class="col-sm-12">
		<div class="progress progress-striped active">
		  <div class="progress-bar progress-bar-danger "  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{(timeOut-playTimer+1)*10}}%">
		  </div>
		</div>
	</div>
	<div class="col-sm-12" ng-if="!timeOver">
		<button ng-repeat="answer in ['a1','a2','a3']" 
			type ="button" class="btn {{answer}} btn-lg btn-block" 
			ng-class="{'active':lastVote==answer}" ng-disabled="playTimer>10" ng-click="vote(answer)">{{currentQuestion[answer]}}</button>
	</div>
	<div class="col-sm-12" ng-if="timeOver">
		<br>
		<br>
		<img src="images/winner.jpg" class="img-responsive" alt="" ng-if="isItRight">
		<img src="images/facepalm.jpg" class="img-responsive" alt="" ng-if="!isItRight">
	</div>
</div>

</script>

<script type="text/ng-template" id="views/reset.html">
<p>This is the reset view.</p>

</script>

<script type="text/ng-template" id="views/set-user.html">
<p>This is the set-user/:type view.</p>

</script>

<script type="text/ng-template" id="views/wait-dashboard.html">
<div class="row">
	<div class="col-md-3 col-md-offset-1">
		<div class="row">
			<div class="col-md-12">
				<img src="images/new-hire-logo.png" class="img-responsive" alt="">
			</div>
		</div>
		<div class="row bar-chart">
			<div class="col-md-4" ng-repeat="team in [1,2,3]">			
				<div class="bar team-{{team}}" style="height:{{normalizedTeamScore[team]}}px;">
					<div class="score">{{teamScore[team]}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-1">
		<div class="row">
			<div class="col-md-4 animated-picture" ng-repeat="teamMember in [1,2,3,4,5,6,7,8,9] track by $index">
				<section class="cube-container">
				  <div class="cube set-face-{{setRandomActive[teamMember]}}">
				    <figure class="face-{{cubeFace}}" ng-repeat="cubeFace in [1,2,3,4,5,6] track by $index">
				    	<img ng-src="images/Images_cube/{{teamMember}}/{{cubeFace}}.jpg" alt="">
				    </figure>
				  </div>
				</section>

			</div>
		</div>
	</div>
	
</div>
</script>

<script type="text/ng-template" id="views/wait.html">
<div class="row hire-logo">
    <div class="col-xs-6 col-xs-push-1">
        <img src="images/new-hire-logo.png" class="img-responsive" alt="">
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-push-1">
    	<div class="waiting-score">
    		<div class="score-count">{{userScore}}</div>
    		<span>POINTS</span>
    	</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-push-1">
    	<div class="wait-message">
    		<p>Wait for the next question</p>
    	</div>
    </div>
</div>
</script>
<!-- End Templates -->

</body>
</html>
