<div class="row" ng-show="currentUser.name">
    <h1>Hi {{currentUser.name}}, the game will start soon!</h1>
</div>
<div class="row" ng-hide="currentUser.name">
    <div class="col-sm-6">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="formName" placeholder="Enter your name">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="saveName(formName)">Start</button>
            </span>
        </div>
    </div>
</div>