<div class="row">
	<div class="col-md-2 col-md-offset-1">
		<img src="images/new-hire-logo.png" class="img-responsive" alt="">
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-push-2">
		<p class="d-question">{{currentQuestion.question}}</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4" ng-repeat="answer in ['a1','a2','a3']">
		<p class="d-answer bg-{{answer}}">{{currentQuestion[answer]}}</p>
		<p class="d-votes">
			<span ng-repeat="vote in currentVotes | orderByPriority |filter:{'vote':answer}" class="vote team-{{vote.team}}">&nbsp;</span> 
		</p>
	</div>
</div>