
<div class="row">
	<h2 class="col-sm-12">{{currentQuestion.question}}</h2>
</div>
<div class="row">
<div class="col-sm-12">
	<div class="progress progress-striped active">
	  <div class="progress-bar progress-bar-danger "  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{(timeOut-playTimer+1)*10}}%">
	  </div>
	</div>
</div>
	<div class="col-sm-12" ng-if="!timeOver">
		<button ng-repeat="answer in ['a1','a2','a3']" 
			type ="button" class="btn {{answer}} btn-lg btn-block" 
			ng-class="{'active':lastVote==answer}" ng-disabled="playTimer>10" ng-click="vote(answer)">{{currentQuestion[answer]}}</button>
	</div>
	<div class="col-sm-12" ng-if="timeOver">
		<h1 ng-if="isItRight">You are RIGHT!!!</h1>
		<h1 ng-if="!isItRight">You are WRONG!!!</h1>
	</div>
</div>
