<div ng-class="{'question-only':timeLeft>10}">
	<h2>{{currentQuestion.question}}</h2>
	<div class="row vote">
		<h3>Time left : {{timeLeft}} seconds. Choose your answer!</h3>	
		<div class="well" ng-hide="timeLeft==0">
			<button type ="button" class="btn btn-primary btn-lg btn-block" ng-click="vote('a1')">{{currentQuestion.a1}}</button>
			<button type ="button" class="btn btn-success btn-lg btn-block" ng-click="vote('a2')">{{currentQuestion.a2}}</button>
			<button type ="button" class="btn btn-danger  btn-lg btn-block" ng-click="vote('a3')">{{currentQuestion.a3}}</button>
		</div>
		<div class="well" ng-show="timeLeft==0">
			<h1 ng-if="isItRight()">You are RIGHT!!!</h1>
			<h1 ng-if="!isItRight()">You are WRONG!!!</h1>
		</div>
	</div>
</div>