<div class="row">
	<div class="col-md-3 col-md-offset-1">
		<div class="row">
			<div class="col-md-12">
				<img src="images/new-hire-logo.png" class="img-responsive" alt="">
			</div>
		</div>
		<div class="row bar-chart">
			<div class="col-md-4" ng-repeat="team in [1,2,3]">
				<div class="score">{{teamScore[team]}}</div>
				<div class="bar team-{{team}}" style="height:{{teamScore[team]}}px;"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-1">
		<div class="row">
			<div class="col-md-4 animated-picture" ng-repeat="picture in [1,2,3,4,5,6,7,8,9]">
				<img src="images/test.gif" class="img-responsive" alt="">
			</div>
		</div>
	</div>
	
</div>